.re {
    border-style: groove;
    background-color: aliceblue;
    color: blue;
}

.gh {
    border-style: groove;
    padding: 5px;
}

#img {
    display: none;
}

#imagi {
    display: none;
}

#boton {
    border-radius: 10px;
    padding: 10px;
    background-color: aquamarine;
}

#ire {
    border-radius: 10px;
    padding: 10px;
    background-color: aquamarine;
}